*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	background-color: #eee
	margin:50px auto;
	width: 80%;
}

header{
	background-color: #dd88ee;
	height: 250px;
}
header h1{
	text-align: center;
	line-height: 250px;
}

nav{
	background-color: #ddee99;
}

nav li{
	list-style: none;
	display: inline-block;
	width: 250px;
}

nav li a{
	text-decoration: none;
	text-align: center;
	color: #000;
	padding: 5px;
}

section, aside{
	height: 500px;
	float: left;
	padding:30px;
}

section{
	background-color: lightgrey;
	width: 70%
}

aside{
	background-color: yellow;
	width: 30%

}
footer{
	text-align: center;
	color:white;
	background-color: black;
	clear:both;
}

/*article{
	position: absolute;
}

article:nth-child(2){
	top:0;
	right:100;
}

article:nth-child(3){
	bottom:0;
	right:100%;
}*/

section article{
	width: 50%;
	float: left;
	margin:50px 0;
}