*{
	box-sizing: border-box;
	padding: 0;
}
header {
	background-color: lightblue;
	border:3px solid white;
	color: white;
	text-align: center;
	margin: 0 auto;
	width: 80%;
	height: 20%;
	line-height: 60px;
	font-size: 1rem;
}

footer {
	background-color: orange;
	border:3px solid white;
	color: white;
	text-align: center;
	margin: 0 auto;
	width: 80%;
	height: 20%;
	line-height: 60px;
	font-size: 1rem;
	clear: both;

}

main {
	height: 800px;
}

article{
	border:3px solid white;
	color: white;
	text-align: center;
	margin: auto;
	flex-grow: 1;
	
}

main, section, aside, .bottom {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;
	flex-grow: 1;
}

main, .bottom {
	width: 80%;
	flex-direction: row;
}

.bottom{
	height:30%;
}

.first, aside {
	height:70%;
	flex-direction: column;

}
.first {
	flex-grow: 2;
}

aside article:first-child {
	background-color: rgb(202, 109, 202);	
	width:100%;
}

aside article:nth-child(2) {
	width:100%;
	background-color: lightgreen;	

}

.first article:first-child {
	width:100%;
	background-color: orange;	

}

.first article:nth-child(2) {
	width:100%;
	background-color: darkgrey;	

}

.bottom article:first-child {
	height: 100%;
	background-color: green;	
	flex-grow: 2;


}

.bottom article:nth-child(2) {
	height: 100%;
	background-color: pink;
}
	